.App {
  text-align: center;
  position: relative;
}

.App-header {
  position: relative;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 4em;
  color: white;
}

.input-form {
  margin-top: 0px;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.input-box {
  padding: 20px;
  font-size: 20px;
  font-family: 'Poppins';
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  width: 100%; 
  margin-bottom: 30px;
  resize: both; /*allows vertical resizing of text area */
  overflow: hidden; /*hide overflow for auto-expansion */
  /*min-height: 60px; /*set min height for text area*/
}

/*automatically expand the textarea as the user types ...does not work*/
/*.input-box:focus {
  height: auto;
}*/

.submit-button {
  padding: 20px;
  font-size: 20px;
  font-family: 'Poppins';
  border-radius: 5px;
  border: none;
  background-color: #0f1457;
  color: white;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #000000;
}

.results {
  margin-top: 20px;
  width: 50%;
  text-align: left;
  max-height: 60vh;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
}
